@charset "UTF-8";

/* base css */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input, button, label {
	cursor: pointer;
}

/* background */
.background-purple {
    background-color: #c97fe8;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.background-gray {
    border: none;
    color: #bbb;
    background-color: #eee;
}

/* border */ 
.border-gray {
	border: 1px solid #ccc;
	border-radius: 5px;
	cursor: pointer;
}
input.border-gray:focus {
	outline: none;
	border-color: #c97fe8;
	box-shadow: 0 0 5px #c97fe8;
}