@charset "UTF-8";

#detail-wrap{
	position: relative;
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	padding: 50px 0;
}

#top-wrap{
}

#detail-left{
	float: left;
	width: 300px;
	height: 300px;
}

#detail-right{
	float: right;
	width: 650px;
	height: 300px;
	margin-left: 70px;
}

#title-wrap{
	padding-bottom: 30px;
	border-bottom: 1px solid rgb(238,238,238);
}

#detail-title{
	font-size: 24px;
	font-weight: 600;
	margin: 0 0 25px;
}

#price-wrap{
	display: flex;
    align-items: flex-end;
    gap: 10px;
}
#detail-price{
	font-size: 40px;
	font-weight: 500;
}

#detail-pay{
	display: inline-block;
}

#little-wrap{
	height: 30px;
    margin-top: 15px;
    margin-bottom: 25px;
    display: flex;
}

.material-symbols-outlined{
	margin-right: 5px;
}

.md-15{
	font-size: 15px !important;
}

#detail-like, #detail-cnt, #detail-date{
	display: flex;
    align-items: center;
    color: rgb(204, 204, 204);
    margin-right: 10px;
    font-size: 15px;
}

#btn-wrap{
	margin-top: 60px;
}

.detail-btn{
	width: 130px;
	height: 50px;
	margin-right: 10px;
	
}