@charset "UTF-8";

#list-wrapper{
	position: relative;
	width: 1024px;
	height: 100%;
	margin: 0 auto;
	padding: 50px 0;
}

#cate-wrap{
	margin: 20px 0;
}

.category{
	display: inline-block;
	width: 250px;
	height: 35px;
	margin-bottom: 5px;
	padding: 7px 10px;
	font-size: 13px;
	color: gray;
}

.product-wrapper:nth-child(5n+0){
	margin-right: 0;
}

.product-wrapper{
	display: inline-block;
	width: 190px;
	height: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid rgb(238, 238, 238);
}

.product-photo{
	width: 190px;
	height: 200px;
}

.product-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px 5px;
	font-size: 15px;
}

.product-price{
	padding: 0 5px 10px 5px;
	
}

.product-location{
	display: flex;
	justify-content : center;
	align-items: center;
	font-size: 12px;
	padding: 3px 0;
}

#result-wrap{
	margin: 50px 0;
}

#page-wrap{
	display: flex;
 	justify-content : center;
}

.page-btn{
	width: 30px;
	height: 30px;
	padding: 2px 0;
	margin: 0 2px;
	text-align: center;
	cursor: pointer;
	
}