@charset "UTF-8";

header {
    position: relative;
    height: 100px;
    /*border-bottom: 1px solid gray;*/
    display: flex;
    justify-content: center;
}

header #headerContainer {
	width: 1024px;
	padding: 20px 0;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 로고 (이미지 및 텍스트) */
header #logoContainer {
	display: flex;
    align-items: center;
    text-decoration: none;
}

header #logoImage {
    width: 42px;
    height: 42px;
    margin-bottom: 8px;
}

header #logoText {
    /*padding-left: 8px;*/
    font-weight: bold;
    font-size: 28px;
    color: #C97FE8;
}

/* 검색 관련 */
header #searchContainer {
    height: 35px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

header #searchContainer #searchIcon {
    width: 35px;
    height: 35px;
    color: white;
    background-color: #C97FE8;
    text-align: center;
    line-height: 33px;
}


/* border */ 
.border-purple {
	border: 2px solid #C97FE8;
	border-radius: 5px;
	cursor: pointer;
} input.border-gray:focus {
	outline: none;
	border-color: #c97fe8;
	box-shadow: 0 0 5px #c97fe8;
} textarea.border-gray:focus {
	outline: none;
	border-color: #c97fe8;
	box-shadow: 0 0 5px #c97fe8;
}

header #searchContainer #searchInput {
    border: none;
    width: 90%;
} header #searchContainer #searchInput:focus {
	outline: none;
}	

/* 회원관련 (로그인/회원가입 등) */
header #memberContainer {
    display: flex;
    height: 100%;
    align-items: center;
    /*align-items: flex-start;*/
    width: 130px;
    justify-content: space-between;
    font-size: 15px;
}

header #memberContainer1 {
    display: flex;
    height: 100%;
    align-items: flex-start;
    width: 130px;
}

header #memberContainer1 {
    display: flex;
    height: 100%;
    align-items: flex-start;
    width: 195px;
    justify-content: space-between;
    font-size: 15px;
}
header #memberContainer a, #memberContainer1 a {
	color: #666;
	text-decoration: none;
} header #memberContainer a:hover, #memberContainer1 a:hover {
	color: #C97FE8;
	font-weight: 550;
}