<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.MemberImageDAO">
	<insert id="insertMemberImage">
		insert into member_image(mi_uuid, mi_dir, m_number, mi_name)
		values (#{mi_uuid}, #{mi_dir}, #{m_number}, #{mi_name})
	</insert>
	
	<select id="selectMemberImage" resultType="com.myweb.www.domain.MemberImageVO">
    	select * from member_image where m_number = #{m_number}
	</select>
	

</mapper>