<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.www.repository.ProductDAO">
	<select id="selectProduct" resultType="com.myweb.www.domain.ProductVO">
		select a.p_number, p_name, p_price, p_location from 
		(select p_number from product 
		where p_isDel=0
		order by p_number desc
		limit #{pageStart}, #{qty}) a left join product b
		on a.p_number = b.p_number
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(p_number) from product where p_isDel=0
	</select>
	
	<insert id="insertProductRegister">
		insert into product (m_number, p_name, p_price, p_category, p_info, p_location, p_pay)
		values (#{m_number}, #{p_name}, #{p_price}, #{p_category}, #{p_info}, #{p_location}, #{p_pay})
	</insert>
	
	<select id="selectPnumber" resultType="int">
		select max(p_number) from product
	</select>
	
	<select id="selectPno" resultType="com.myweb.www.domain.ProductVO">
		select * from product where p_number = #{p_number}
	</select>
	
	<update id="updateStatus">
		update product set p_status=#{p_status} where p_number=#{p_number}
	</update>
	
	<!-- 채팅 기능 구현 (작성자: 조민규) -->
	<select id="selectProductWithNumber" resultType="com.myweb.www.domain.ProductVO">
		select * from product where p_number = #{c_number}
	</select>
</mapper>