@charset "UTF-8";

	#container {
	  margin-top: 20px;
	  margin-bottom :50px;
	}
	
	#inner-box {
	  width: 1024px;
	  margin: 0 auto;
	 
	}
	
	.submit-button {
	  width: 100px;
	  height: 40px;
	  font-size: 16px;
	  border: 1px solid ;
	  border-radius: 5px;
	}
	
	#second-inner {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  margin : 5px 0 5px 0;
	}
	
	#comment-btn {
	  display: flex;
	  align-items: center;
	}
	
	.qna-select, .qna-content {
	    margin-bottom: 8px;
	 }
	
	#container .border-gray {
	  width: 100%;
	  box-sizing: border-box;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  padding: 6px 12px;
	  font-size: 14px;
	  margin-bottom: 15px; /* 여백 추가 */
	}
	
	select.border-gray:focus {
	  outline: none;
	  /*border-color: #c97fe8;*/	  
	}
	
	select.border-gray optgroup {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	
	select.border-gray option {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	
	#inner-box h3 {
	  font-size : 26px;
	  margin-top: 15px;
	  margin-bottom: 20px;
	}
	
	#inner-box:not(:first-child) {
	  margin-top: 5px;
	}
	  	
	.background-purple {
    background-color: #C97FE8;
    color: white;
  	}
  	
  	.attachment-text {
    color: #666666;
    font-size: 12px;
 	}
 	
 	.attachment-text:first-child {
    color: #C97FE8;
    font-size: 12px;
    font-weight:700;
 	}
 	
    .attachment-text:nth-child(2) {
      font-size: 12px;
      font-weight: 700;
    }
    
    /* 검색 관련 */
	#searchBox {
	    height: 30px;
	    width: 500px;
	    display: flex;
	    justify-content: space-between;
	    overflow: hidden;
	    margin-bottom:10px;
	}
	
	#searchBox #searchIcon {
	    width: 33px;
	    height: 33px;
	    color: white;
	    background-color: #ccc;
	    text-align: center;
	    line-height: 33px;
	    margin-top: -8px;
	    margin-left: -12px;
	}
		
	#searchBox #searchInput {
	    border: none;
 		width: 100%;
 		margin-left: 0;
	} 
	
	#searchBox #searchInput:focus {
		outline: none;
	}	
	
	/*체크 아이콘 상하 여백 조정 */
	#inner-box div span.material-symbols-outlined {
  	  display: inline-block;
	  vertical-align: middle;
 	  margin-bottom: 3px;
 	  color: #c97fe8;
 	  font-variation-settings:
	  'FILL' 1,
	  'wght' 400,
	  'GRAD' 0,
	  'opsz' 48
	}
		
	#notice {
	  font-size: 18px;
	  margin : 20px 0;
	  font-weight :700;
	  color : #666;
	}
	
	#not-title{
		margin-bottom: 30px;
		font-weight :700;
		color : #888;
	}
	
	/*문서 모두보기*/
	#showAll{
	  width: 1024px;
	  margin: 30px auto;
	}
	
	#showAll span{
	  font-size : 14px;
	  font-weight :700;
	  color : #666;
	}
	
	/* 페이지네이션 */
	#page-wrap{
		display: flex;
 		justify-content : center;
	}
	
	.page-btn{
		width: 30px;
		height: 30px;
		padding: 2px 0;
		margin: 0 2px;
		text-align: center;
		cursor: pointer;		
	}
	
	