@charset "UTF-8";
/*board_location/list.css*/

	#tmp-box{ 
		height: 300px;
		background-color: #ccc;
		margin-bottom : 10px;
	}
	
	#container {
	  margin-top: 20px;
	  margin-bottom :50px;
	}
	
	#inner-box {
	  width: 1024px;
	  margin: 0 auto;
	}
	
	#inner-box h3 {
	  font-size : 26px;
	  margin-top: 15px;
	  margin-bottom: 30px;
	}
	
	.attachment-text {
    color: #666666;
    font-size: 12px;
 	}
 	
 	.attachment-text:first-child {
    color: #C97FE8;
    font-size: 12px;
    font-weight:700;
 	}
 	
    .attachment-text:nth-child(2) {
      font-size: 12px;
      font-weight: 700;
    }
    
    .background-purple {
   	 background-color: #C97FE8;
  	  color: white;
  	}
  	
  	 .border-gray {
	  width: 100%;
	  box-sizing: border-box;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  padding: 6px 12px;
	  font-size: 14px;
	  margin-bottom: 15px; 
	}
  	
  	.submit-button {
	  width: 100px;
	  height: 40px;
	  font-size: 16px;
	  border: 1px solid ;
	  border-radius: 5px;
	}
	
	#second-inner {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  margin : 10px 0 20px 0;
	}
	
	#inner-box h3 {
	  margin: 0;
	}
	
	#comment-btn {
	  display: flex;
	  align-items: center;
	}
	
	/* 검색 관련 */
	#searchBox {
	    height: 30px;
	    width: 300px;
	    display: flex;
	    justify-content: space-between;
	    overflow: hidden;
	    margin-top:4px;
	}
	
	#searchBox #searchIcon {
	    width: 33px;
	    height: 33px;
	    color: white;
	    background-color: #ccc;
	    text-align: center;
	    line-height: 33px;
	    margin-top: -8px;
	    margin-left: -12px;
	}
		
	#searchBox #searchInput {
	    border: none;
 		width: 100%;
 		 margin-left: 0; /* 인풋박스 왼쪽 여백 제거 */
	}
	
	#searchBox #searchInput:focus {
		outline: none;
	}	
	
	/*새로고침, 검색바 정렬*/
	#third-inner {
	  display: flex;
	  align-items: center;
	}
	
	#icon-box {
	  margin-right: auto;
	}
	
	#searchBox {
	  margin-left: auto;
	}
    
    /*아이콘*/
    .material-symbols-outlined {
	  font-variation-settings:
	  'FILL' 0,
	  'wght' 300,
	  'GRAD' 0,
	  'opsz' 30;
	  vertical-align: middle;
	  display: inline-flex;
	  align-items: center;
	  font-size: 20px;
	  margin-top: -1px; 
	}
	
	.material-symbols-outlined.favorite {
 	 color: red;
	}
	
	
	/*리스트*/
	#list-box {
		margin-top : 20px;
		margin-bottom : 20px;		
	}
	
	#list-info {
		padding : 8px 0 10px 0;
		font-size: 12px;
	}
    
